---
import ProjectCard from "../components/ProjectData.astro";
import ProjectData from "../data/projects.json";

---

<section class="project-card-container">
<ul class="project-card-layout">
    
    {ProjectData.map((project) => ( 
    <li>
        <ProjectCard
            key={project.key}
            title={project.title}
            dates={project.dates}
            description={project.description}
            image={project.image}
        />
    </li>
    ))}
</ul>
</section>

<style>
    li{
        background-color: aliceblue;
        height: 100vh;
    }
</style>

